.menu__navbar-boton{
    border: none;
}

.boton__mensaje{
    background-color: $primario !important;
    border: none;
    border-radius: 0;
    color: #ffffff;
    margin-right: 15px;
}

.boton__seguir{
    background-color: $secundario !important; 
    border: none;
    border-radius: 0;
    color: #ffffff;
}