//color Scheme
$primario: #96d6e2;
$secundario: #ee6560;

//Tipografía

//Familias de fuentes

$futura-bold: 'Futura-Bold', arial;
$futura-regular: 'Futura-Normal', arial;
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//Pesos de fuente
$font-bold: 700;
$font-regular: 400;

//Tamaños de fuente
$xx-large: 1.875rem;
$x-large: 1.5625rem;
$large: 1.25rem;
$medium: 1rem;
$small: 0.75rem; 